@font-face {
    font-family: 'Scintifica';
    src: url('/fonts/scientifica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Scintifica', monospace;
    background-color: #111;
    color: #ccc;
    margin: 0;
    padding: 20px;
}

header,
footer {
    text-align: center;
    margin-bottom: 30px;
}

h1,
h2,
p,
pre,
ol,
li,
a {
    color: #d3d3d3;
    font-size: 1.3rem;
    font-weight: normal;
}

h1 {
    font-family: 'Scintifica', monospace;
    font-size: 3.5em;
}

h2 {
    font-family: 'Scintifica', monospace;
    font-size: 2em;
    cursor: pointer;
}

h2:hover::after {
    content: " #";
}

pre {
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Scintifica', monospace;
    white-space: pre-wrap;
    overflow-x: auto;
}

ol {
    padding-left: 20px;
}

ul {
    padding-left: 0px;
    list-style-type: none;
}

ul li::before {
    content: "-";
    margin-right: 28px;
    color: #d3d3d3;
}

a {
    color: #F77;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#server-info {
    max-width: fit-content;
    padding: 20px;
    background-color: #000;
    border-radius: 8px;
}

#server-info h2 {
    margin: 0;
    padding: 2px;
}

#server-info p {
    margin: 0;
    padding: 2px;
}